:root {
  --main-background: #ffffff;
  --sub-backgrount: #f5f4fa;
  --footer-hero-background: #2f303a;
  --color-accent: #2196f3;
}

/* основные стили в макете */
body {
  color: #212121;
  background-color: var(--main-background);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* сброс стилей ul,li */
.list {
  list-style: none;
}

/* сброс ростояния елементов и разметка */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* размеры страницы */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* логотип */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000000;
}
.logo > span {
  color: var(--color-accent);
}

/* ссылки шапка и подвал*/
.nav,
.contacts {
  margin: 0;
  padding: 0;
  display: flex;
}
/* .nav {
  display: flex;
} */
.nav .link,
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.02em;
  /* margin-right: 50px; */
}
.nav .link:not(:last-child) {
  margin-right: 50px;
}
/* .contacts .link:last-child {
  margin-right: 0;
} */
.contacts .link {
  color: #757575;
}
.link:hover,
.link:focus {
  color: var(--color-accent);
}

/* секция main index.html */
/* Герой секция */
.hero {
  background-color: var(--footer-hero-background);
  height: 600px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}
.hero .btn {
  font-family: inherit;
  background-color: var(--color-accent);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.hero .btn:hover,
.herro.btn:focus {
  background-color: #188ce8;
}

/* умение компании */
.skills {
  margin: 0;
  padding: 0;
  display: flex;
}
.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.skills-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

/* деятельность компании  */
.images-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin: 0;
  padding: 0;
  text-align: center;
}
.images-list,
.team-list {
  margin: 0;
  padding: 0;
  display: flex;
}

/* Сотрудники компании */
.team {
  background-color: var(--sub-backgrount);
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  padding: 0;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
  margin: 0;
  padding: 0;
}

/*секция main portfolio */
/* кнопки */

.gallery {
  margin: 0;
  padding: 0;
}
.gallery-btn {
  background-color: var(--sub-backgrount);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}
.gallery-btn:hover,
.gallery-btn:focus {
  background-color: var(--color-accent);
  color: #ffffff;
}

/* проекты  */
.project-list {
  margin: 0;
  padding: 0;
}
.project-link {
  text-decoration: none;
  color: inherit;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin: 0;
  padding: 0;
}

/* подвал */
.footer {
  background-color: var(--footer-hero-background);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-adr,
.footer a {
  color: #ffffff;
  font-style: inherit;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--color-accent);
}
